{
    "presets": [
        [
            "@babel/preset-env",
            // babel打包为es6
            {
                "targets": {
                    "esmodules": true
                }
            }
        ]
    ]
}
