{
    "bracketSpacing": true,
    "printWidth": 80,
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "importOrder": [],
    "importOrderSeparation": true,
    "singleQuote": true
}
